{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - List concerts
{% endblock %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
               
                    
                </p>
    </section>
{% endblock top %}

{% block content %}
    <section id="explore">

      
        <div>>
                <h2>Thanks for your information  </h2>
            </div>
    
    </section>
{% endblock %}

